body {
	font-family: Georgia, serif;
		text-align: center; 

}


h1 {
	color: #107896;
	text-align: center;
}

h2 {
	color: #03495d;
	text-align: center;
}

h3 {
	color: #075e76;
	text-align: center;
}


h4  {
	color: #509CB2;
	text-align: center;
}



 p {
	text-align: center;
}
		


